{% extends 'pic/base.html' %}
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'pic/style.css' %}" />


{% block Main %}
<section class="desc">
   <p>
      A simple Django app.
      Just upload your pics and see them on your screen!
   </p>
</section>

<section class="forms">
   <form id="form" action="." method="post" enctype="multipart/form-data">
   
      {% csrf_token %}
      {{ form }}
      <input class="buttons" type="submit" name="upload" value="upload">
   </form>
</section>
{% endblock %}
